.new-tweet {
  margin-top: 150px;
  width: 100%;
}

.submit button {
  font-family: "Bungee";
  color: rgb(240, 242, 245);
  background-color: #4056a1;
}

.submit {
  font-family: "Bungee";
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

textarea {
  border-bottom: solid;
  background-color: #f4f1ec;
  border-top: none;
  border-right: none;
  border-left: none;
  padding-top: 10px;
}

.label-text {
  display: flex;
  flex-direction: column;
}

.tweet-form {
  align-self: center;
}

h2 {
  text-align: center;
}

.errormsg {
  display: none;
  border: 2.5px solid red;
  border-radius: 10px;
  color: red;
  padding: 1px;
}

.error_container {
  align-self: center;
  margin-bottom: 50px;
}
